{% include '@header' with header %}
{% embed '@section' %}
    {% block section_content %}
        {% include '@hero' with hero %}
        {% include '@features' with { modifier: '', features: features } %}
    {% endblock %}
{% endembed %}
{% if reviewSlider %}
    {% embed '@section' with { modifier: 'section--background-gray' ~ ((emo or emoModule.module_emo) ? ' section--surf' : '') } %}
        {% block section_content %}
            {% include '@review-slider' with reviewSlider %}
        {% endblock %}
    {% endembed %}
{% endif %}
{% if packageGroups %}
    {% embed '@section' with { modifier: 'section--bottom-padding', id: 'packages', isContainer: true } %}
        {% block section_content %}
            {% for packageGroup in packageGroups %}
                {% include '@events-grid' with { class: 'js-slider js-product-slider', title: packageGroup.title, products: packageGroup.products } %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endif %}
{% embed '@section' with { modifier: '' } %}
    {% block section_content %}
        <div class="accordion accordion--full accordion--content accordion--padded">
            <div class="accordion__item js-accordion" id="horeca-content">
                <a href="#horeca-content" class="accordion__header js-accordion-control">
                    <div class="accordion__title">
                        {{ accordion.title }}
                        {% include '@icon' with { modifier: triggerIcon.icon|default('chevron'), class: triggerIcon.class|default('accordion__icon') } %}
                    </div>
                </a>
                <div class="accordion__content js-accordion-content">
                    <div class="accordion__inner">
                        {% if accordion.content.title and accordion.content.content %}
                        <div class="h-container">
                            <div class="grid">
                                <div class="grid__col--md-7 text">
                                {% if accordion.content.title %}
                                    <h3 class="h3--alt">{{ accordion.content.title }}</h3>
                                {% endif %}
                                {% if accordion.content.content %}
                                    {{ accordion.content.content }}
                                {% endif %}
                                </div>
                                <div class="grid__col--md-5">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{ accordion.content.image.srcset }}" class="split-content__image lazyload">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
{% embed '@section' %}
    {% block section_content %}
        {% if emo1 and emo2 and emo3 %}
            {% include '@emo' with { modifier: 'emo--dark emo--reverse', title: emo1.title, description: emo1.description, image: emo1.image } %}
            {% include '@emo' with { modifier: 'emo--background', title: emo2.title, description: emo2.description, image: emo2.image } %}
            {% include '@emo' with { modifier: 'emo--large emo--background emo--reverse emo--top-and-bottom-wave', title: emo3.title, description: emo3.description, button: emo3.button, image: emo3.image } %}
        {% elseif emoModule %}
            {% include '@emo--module' with emoModule %}
        {% endif %}
    {% endblock %}
{% endembed %}
{% if reviewSlider %}
    {% embed '@section' with { modifier: 'section--background-gray' ~ ((emo1 or emo2 or emo3 or emoModule.module_emo) ? ' section--surf' : '') } %}
        {% block section_content %}
            {% include '@review-slider' with reviewSlider %}
        {% endblock %}
    {% endembed %}
{% endif %}
{% embed '@section' with { modifier: 'section--bottom-padding', isContainer: true, title: categoriesTitle, description: categoriesContent } %}
    {% block section_content %}
        {% include '@featured-cats' with { categories: categories } %}
    {% endblock %}
{% endembed %}
{% embed '@section' %}
    {% block section_content %}
        {% include '@brands-list' with footerBrands %}
        {% include '@quote' with { modifier: 'quote--front', text: footerQuote.text, button: footerQuote.button } %}
    {% endblock %}
{% endembed %}
{% include '@footer' with footer %}
