<div class="loader {{ modifier }}">
    <div class="loader__inner">
        <div class="loader__rolling">
            <div></div>
        </div>
        <div class="loader__text">{{ loaderText }}</div>
    </div>
</div>
