<div class="reel">
    <ul class="reel__list">
    {% for img in reelImages %}
        <li><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" srcset="{{ img }}" class="single-hero__img" /></li>
    {% endfor %}
	</ul>
</div>
